1. What are data structures, and why are they important?

 Answer: Data structures are ways to organize and store data in a computer to use it efficiently. They are important because they help in managing data effectively, improving performance, enabling faster access and modification, and supporting optimal use of memory and resources.

2. Explain the difference between mutable and immutable data types with examples?

 Answer: Mutable data types allow their contents (data) to be changed after they are created. Example are list, dict, set. Immutable data types cannot be changed after creation. Example are int, str, tuple.

3. What are the main differences between lists and tuples in Python?

 Answer: Lists are mutable, slower, and use square brackets [ ].
Tuples are immutable, faster, and use parentheses ( ).

4. Describe how dictionaries store data?

 Answer: A dictionary stores data as key-value pairs. Each key is unique and it repesents a value.

5. Why might you use a set instead of a list in Python?

 Answer: Set automatically removes duplicates. Sets support mathematical operations like union, intersection, and difference, which are not directly supported by lists.

6. What is a string in Python, and how is it different from a list?

 Answer: A string is an immutable sequence of characters in Python.
 A list is a mutable sequence that can hold elements of any type.

 Key difference: Strings can’t be changed after creation, while lists can.

7.  How do tuples ensure data integrity in Python?

 Answer: Tuples ensure data integrity in Python by being immutable, meaning their contents cannot be changed after creation. This prevents accidental modification, keeping the data fixed and reliable.

8. What is a hash table, and how does it relate to dictionaries in Python?

 Answer: A hash table is a data structure that stores key-value pairs and uses a hash function to compute an index (hash) where the value is stored. This allows for very fast data lookup, insertion, and deletion—typically in constant time (O(1)).

 In Python, dictionaries are implemented using hash tables. When you use a dictionary, Python hashes the keys to quickly find or store values, making dictionary operations very efficient.

9. Can lists contain different data types in Python?

 Answer: Yes, lists in Python can contain different data types together.

10. Explain why strings are immutable in Python.

 Answer: Strings are immutable in Python to ensure data integrity and security. Because strings often represent fixed data like text or keys, immutability prevents accidental changes that could cause bugs.

 Additionally, immutability allows Python to optimize memory usage by reusing string objects (string interning) and makes strings thread-safe in concurrent programs.

11. What advantages do dictionaries offer over lists for certain tasks?

 Answer: Dictionaries offer several advantages over lists for certain tasks:

 1) Fast Lookups: Dictionaries use keys for direct access, making lookups on average O(1), while lists require searching which is O(n).

 2) Key-Value Pairing: Dictionaries store data as key-value pairs, allowing you to associate meaningful keys with values instead of relying on numeric indexes.

 3) Uniqueness of Keys: Keys in dictionaries are unique, preventing duplicate entries for the same key.

 4) Flexible Access: You can access data by key rather than by position, which is more intuitive for many applications (e.g., user profiles by username).

 5) Efficient Updates: Modifying or adding entries by key is faster and clearer than searching through a list.   

12. Describe a scenario where using a tuple would be preferable over a list?

 Answer: A tuple is preferable over a list when you need to store a fixed set of values that should not change throughout the program.

13. How do sets handle duplicate values in Python?

 Answer: In Python, sets automatically remove duplicate values. When you add elements to a set, any duplicates are ignored, so the set only keeps unique items.

14.  How does the 'in' keyword work differently for lists and dictionaries?

 Answer:The 'in' keyword works differently for lists and dictionaries:

 In lists: Checks if a value exists.

 2 in [1, 2, 3]  ----->>> True

 In dictionaries: Checks if a key exists, not a value.

 'age' in {'age': 30, 'name': 'Alice'}   True

 30 in {'age': 30, 'name': 'Alice'}      False

15. Can you modify the elements of a tuple? Explain why or why not?

 Answer: No, you cannot modify the elements of a tuple in Python because tuples are immutable.

 Once a tuple is created, its contents (elements) cannot be changed, added, or removed. This immutability helps ensure data integrity, allows tuples to be used as dictionary keys, and can improve performance in certain cases.

16. What is a nested dictionary, and give an example of its use case?

 Answer: A nested dictionary is a dictionary where values are other dictionaries. It’s used to represent structured or hierarchical data.

17. Describe the time complexity of accessing elements in a dictionary?

 Answer: The average time complexity of accessing elements in a dictionary is O(1), and the worst case is O(n) due to possible hash collisions.

18.  In what situations are lists preferred over dictionaries?

 Answer: Lists are preferred when you need ordered, indexed data, allow duplicates, and work with simple sequences where fast key-based lookup isn’t required.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

 Answer: Dictionaries were historically considered unordered because they didn’t guarantee the order of keys when iterating. This meant the order of items could change and was unpredictable.

 Effect on data retrieval: Retrieval by key is fast and unaffected by order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

 Answer: Lists retrieve data by index (position), which can be slower to search.
Dictionaries retrieve data by key, offering fast, direct access.

In [4]:
""" Practical Questions """

#1. Write a code to create a string with your name and print it.
#Code:
name = "Abhishek"
print(name)

Abhishek

In [5]:
#2. Write a code to find the length of the string "Hello World".
#Code:
string = "Hello World"
len(string)

11

In [6]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"?
#Code:
string = "Python Programming"
string[:3]

'Pyt'

In [8]:
#4. Write a code to convert the string "hello" to uppercase?
#Code:
a = "hello"
a.upper()

'HELLO'

In [9]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
#Code:
text = "I like apple"
text.replace("apple", "orange")

'I like orange'

In [10]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
#Code:
s = [1, 2, 3, 4, 5]
print(s)

[1, 2, 3, 4, 5]

In [11]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
#Code:
a = [1, 2, 3, 4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [12]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
#Code:
a = [1, 2, 3, 4, 5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [14]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
#Code:
a = ['a', 'b', 'c', 'd']
a[1]

'b'

In [15]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
#Code:
a = [10, 20, 30, 40, 50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [16]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
#Code:
a = ("100","200", "300")
print(a)

('100', '200', '300')

In [17]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
#Code:
t = ('red', 'green', 'blue', 'yellow')
t[1:]

('green', 'blue', 'yellow')

In [20]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
#Code:
t = (10, 20, 5, 15)
min(t)

5

In [21]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
#Code:
t = ('dog', 'cat', 'rabbit')
t.index("cat")

1

In [23]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
#Code:
f = ("Banana", "Chikku", "Orange")
"kiwi" in (f)

False

In [27]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
#Code:
s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

In [28]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
#Code:
k = {'1', '2', '3', '4', '5'}
k.clear()

In [29]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
#Code:
a = {1, 2, 3, 4}
a.remove(4)
print(a)

{1, 2, 3}

In [31]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
#Code:
a = {1, 2, 3}
b = {3, 4, 5}
a | b

{1, 2, 3, 4, 5}

In [32]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
#Code:
a = {1, 2, 3}
b = {2, 3, 4}
a & b

{2, 3}

In [33]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
#Code:
a = {"name": "Abhishek", "age": 25, "city": "Delhi"}
print(a)

{'name': 'Abhishek', 'age': 25, 'city': 'Delhi'}

In [34]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
#Code:
a = {'name': 'John', 'age': 25}
a["country"] = "USA"
print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [37]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
#Code:
a = {'name': 'Alice', 'age': 30}
a["name"]

'Alice'

In [39]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
#Code:
a = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del a["age"]
print(a)

{'name': 'Bob', 'city': 'New York'}

In [40]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
#Code:
a = {'name': 'Alice', 'city': 'Paris'}
"city" in a

True

In [42]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
#Code:
a = [1, 2, 3]
b = (1, 2, 3)
c = {"name": "Abhishek", "age": 25, "city": "Delhi"}
print(a)
print(b)
print(c)

[1, 2, 3]
(1, 2, 3)
{'name': 'Abhishek', 'age': 25, 'city': 'Delhi'}

In [47]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
#Code:
import random
a = [random.randint(1, 100) for _ in range(5)]
a.sort()
print(a)

[19, 76, 82, 84, 94]

In [50]:
#28. Write a code to create a list with strings and print the element at the third index.
#Code:
a = ['India', 'USA', 'Germany', 'Japan']
a[3]

'Japan'

In [51]:
#29. Write a code to combine two dictionaries into one and print the result.
#Code:
a = {'name': 'Abhishek', 'age': 25}
b = {'city': 'Delhi', 'country': 'India'}
a.update(b)
print(a)

{'name': 'Abhishek', 'age': 25, 'city': 'Delhi', 'country': 'India'}

In [52]:
#30. Write a code to convert a list of strings into a set.
#Code:
a = ['India', 'USA', 'Germany', 'Japan']
set(a)

{'Germany', 'India', 'Japan', 'USA'}